.wrapper{
  width: 500px;
  margin: 5em auto;
  padding: 5em;
  background-color: rgba(101,132,0,0.2);
}

.notes-list{
  padding:0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 2em;
}
.add-form form{
  display: flex;
  flex-direction:column;
}
.add-form textarea{
  height: 60px;
  width: 250px;
}

.add-form button{
  width: 100px;
  margin-top: 1em;
  background-color: white;
  border: 1px solid white;
  height: 2em;
  cursor: pointer;
}
.add-form button:hover{
  box-shadow: 0px 0px 6px 1px whitesmoke;
}

.note .delete-icon{
  width: 24px;
  height: 24px;
  opacity: 0.7;
  cursor: pointer;
  margin-bottom: -2px;

}
.note .delete-icon:hover,
.note .controls .checkbox:hover{
  opacity: 1;
}
.note {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: rgba(245,245,245,0.6);
}

.note .controls{
  align-self:flex-end;
}

.note .controls .checkbox{
  transform: scale(1.5);
  cursor: pointer;
  opacity: 0.7;
  margin: 0px 5px;
}
